common/common-parent/spring-boot/src/main/resources/sources/employee.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="department.xsd"/>
    <xs:element name="employee" type="employee"/>

    <xs:complexType name="employee">
        <xs:sequence>
            <xs:element ref="department" minOccurs="0"/>
            <xs:element name="firstName" type="xs:string" minOccurs="0"/>
            <xs:element name="id" type="xs:int" minOccurs="0"/>
            <xs:element name="lastName" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>